.app {
  height: 100vh;
  width: 100vw;
  overflow: overlay;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.app > .page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

/* Scrollbar */

.app::-webkit-scrollbar {
  width: 16px;
}

.app::-webkit-scrollbar-track {
  background: #16151C;
  margin-top: 84px;
  margin-bottom: 8px;
  border-radius: 1000px;
}

.app::-webkit-scrollbar-thumb {
  background: #26262C;
  border-radius: 1000px;
}

.app::-webkit-scrollbar-thumb:hover {
  background: #6C6B70;
}
