/* ChainFunding Theme */

:root {
  --bg-0: #08080A;
  --bg-1: #0D0C12;
  --bg-2: #16151C;
  --accent: #a261f3;
  --accent-gradient: linear-gradient(90deg, #5700FF 0%, #9000FF 100%);
  --text-0: #FFFFFF;
  --text-1: #6C6B70;
  --border-0-transparent: #26262c76;
  --border-0: #26262C;
  --border-1: #0D0C12;
  --border-2: #16151C;
  --border-3: #1E1D23;

  --px-border: 16px;
  --px-page-padding: 300px;
  --px-top-padding: 78px;
}

@media (max-width: 2000px) {
  :root {
    --px-page-padding: 100px;
  }
}

@media (max-width: 800px) {
  :root {
    --px-page-padding: 32px;
  }
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: var(--accent);
}

::selection {
  color: white;
  background: var(--accent);
}

/* Fonts */

@font-face {
  font-family: "rec";   /*Can be any text*/
  src:
    local("Recursive_VF_1.084"),
    url("./assets/fonts/Recursive_VF_1.084.woff2") format("woff");
}

/* Normalize CSS across all browsers */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color-scheme: dark;
}

html {
  font-family: rec;
  color: var(--text-0);
  font-variation-settings: 'MONO' 0, 'CASL' 0, 'wght' 800, 'slnt' 0, 'CRSV' 1;
  background-color: var(--bg-0);
  overflow: auto;
    background-image:
    radial-gradient(at 0% 20%, #150026 0, transparent 50%),
    radial-gradient(at 50% 50%, #29006718 0, transparent 80%),
    radial-gradient(at 100% 30%, #35005e2c 0, transparent 50%);
}

body {
  height: 100vh;
  width: 100vw;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  background-color: unset;
  border: none;
  outline: none;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

[hidden] {
  display: none;
}
