.home {
  width: 100%;
  padding: 0 var(--px-page-padding);
  padding-top: calc(var(--px-top-padding) + 32px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position:relative;
  z-index: 0;
  overflow: hidden;
  padding-bottom: 128px;
  flex: 1;
}

.home > .thing {
  position: absolute;
  width: 50%;
  right: var(--px-page-padding);
  z-index: -1;
  top: -100px;
}

.home > .title {
  margin-top: 128px;
  margin-bottom: 64px;
  font-size: 42px;
  font-variation-settings: 'MONO' 0, 'CASL' 0, 'wght' 200, 'slnt' 0, 'CRSV' 0;
}

.home > .big-title {
  margin-top: 128px;
  font-size: 64px;
  font-variation-settings: 'MONO' 0, 'CASL' 0, 'wght' 600, 'slnt' 0, 'CRSV' 0;
  transition: font-variation-settings 0.2s ease;
}

.home > .big-title:hover {
  font-variation-settings: 'MONO' 1, 'CASL' 0.5, 'wght' 600, 'slnt' -15, 'CRSV' 0;
}

.home > .feature-list {
  margin-top: 32px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 32px;
  border-radius: 16px;
  padding: 16px 32px;
  backdrop-filter: blur(32px);
  border: 2px solid rgba(255, 255, 255, 0.08);
}

.home > .feature-list > .item {
  display: flex;
  align-items: center;
  gap: 16px;
  font-variation-settings: 'MONO' 0, 'CASL' 0, 'wght' 400, 'slnt' 0, 'CRSV' 0;
  color: var(--accent);
  text-shadow: black 0 0 8px;
}

.home > .feature-list > .devider {
  width: 1px;
  height: 16px;
  background-color: var(--text-1);
}

.home > .card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  align-self: stretch;
}
