.search {
  width: 100%;
  padding: 0 var(--px-page-padding);
  padding-top: calc(var(--px-top-padding) + 64px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position:relative;
  z-index: 0;
  overflow: hidden;
  padding-bottom: 128px;
  flex: 1;
  gap: 32px;
}

.search > .title {
  font-size: 42px;
  font-variation-settings: 'MONO' 0, 'CASL' 0, 'wght' 200, 'slnt' 0, 'CRSV' 0;
}

.search > .address-container {
  font-size: 42px;
  font-variation-settings: 'MONO' 1, 'CASL' 0, 'wght' 400, 'slnt' 0, 'CRSV' 0;
  border-radius: 16px;
  background-color: #16151cc5;
  border: 2px solid #26262C;
  padding: 32px 8px;
  backdrop-filter: blur(16px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search > .address-container > .title {
  font-variation-settings: 'MONO' 0, 'CASL' 0, 'wght' 400, 'slnt' 0, 'CRSV' 0;
  color: #6B6B6F;
  font-size: 16px;
}

.search > .card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  align-self: stretch;
}
